      <div id="screenshots" class="carousel slide carousel-fade mb-3 d-none d-sm-block">
        <div class="carousel-inner">
        {% for img in page.imgs %}
          <div class="carousel-item{% if forloop.first %} active{% endif %}">
            <img src="/img/{{ page.path | remove: "_posts/" | remove: "_drafts/" | remove: ".md" }}/{{ img }}" class="d-block w-100">
          </div>
        {% endfor %}
        </div>
      </div>

      <div class="row row-cols-3 g-2 mb-3">
        {% for img in page.imgs %}
          <div class="col">
            <div class="card card-noborder">
              <a href="#screenshots" data-bs-target="#screenshots" data-bs-slide-to="{{ forloop.index | minus: 1 }}"><img class="card-img-top" src="/img/{{ page.path | remove: "_posts/" | remove: "_drafts/" | remove: ".md" }}/th/{{ img }}"></a>
            </div>
          </div>
        {% endfor %}
      </div>
