---
layout: page
---

{{ content }}

{% assign posts = site.categories[page.displayCategory] %}

      <h3>Recent {{ page.displayCategory | append: "s" | replace: "ys", "ies" }}</h3>
      {% assign size = posts | size %}
      <div class="row mb-md-3">
        <div class="col{% if size <= 3 %} col-md-{{ size | times: 4 }}{% endif %}">
          <div class="card-deck">
          {% for post in posts %}
            <div class="card card-noborder">
              <a href="{{ post.url }}"><img class="card-img-top" src="/img/{{ post.path | remove: "_posts/" | remove: "_drafts/" | remove: ".md" }}/th/{{ post.imgs | first }}"></a>
              <div class="card-body">
                <h6 class="card-subtitle text-muted">{{ post.date | date: "%b %e, %Y" }} <span class="mx-1">|</span> {{ post.categories | join: " / " }}</h6>
                <h5 class="card-title mb-2">
                  {{ post.title | smartify }}
                </h5>
                <p class="card-text">{{ post.role | join: " / " }}</p>
              </div>
            </div>
            {% assign mod = forloop.index | modulo: 3  %}
            {% if mod == 0 %}
          </div>
        </div>
      </div>
      <div class="row mb-md-3">
        <div class="col{% if forloop.rindex <= 3 %} col-md-{{ forloop.rindex | minus: 1 | times: 4 }}{% endif %}">
          <div class="card-deck">
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
